.contenedor-carousel{
    width: 95%;
    height: 400px;
    margin: 20px auto;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.8);
}

.carousel{
    background-color: rgba(0, 0, 0, 0.8);
    height: 400px;
    border-radius: .25rem;
}

.d-block{
    width: 22%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}