.contenedor{
    background-color: #191a1b;
    position: absolute;
    bottom: 0;
    border-radius: .25rem;
    width: 32%;
    margin: 5px 34%;
}

.searchBar input {
    display: inline-block;
    width: 83%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    vertical-align: middle;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0 4px 0 6px;
}

.searchBar button{
    color: #fff;
    background-color: #9c0000;
    background-image: none;
    border-color: #9c0000;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #9c0000;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin: 5px auto;
}