.carousel-card{
    width: 95%;
    height: 435px;
    margin: 20px auto;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
}

.cards-wrapper {
    display: flex;
}

.individual-card{
    margin: 2px;
}

.card-title{
    height: 50px;
}

h1 {
    width: 90%;
    margin-left: 30px;
}